<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify | default: Contact Us }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].contact.text | default: "" }} <br /> <br />
            <span id="next_meeting"></span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <p class="text-muted">We meet twice a month on the first and third Tuesdays, with the first Tuesday of the month open to guests and people wishing to become members.</p>
          <p class="text-muted">You can find us at:
          <br />
          Woodland Stores,<br/>
          82 Woodland View,<br />
          Wyesham,</br />
          Monmouth,</br>
          NP25 3LB</p>
          <p class="text-muted">Please note that this address is not to be used for correspondence</p>
      </div>
      <div class="col-md-6">
        <div id="location-map"></div>
            <script>
              var map;
                const shop = { lat: 51.804570728210855, lng: -2.698142463301246};
              function initMap() {
                map = new google.maps.Map(document.getElementById('location-map'), {
                  center: shop,
                  zoom: 16, 
                });

                           // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: shop,
    map: map,
  });
                        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATT_8Je9Li3JOZZIjEzubC2jlEPCfAsmM&callback=initMap"
       async defer></script>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->
